:host {
    display: block;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    // background: linear-gradient(135deg, blue, yellow, crimson, green);
    background-image: url("/images/all/code-background.png");
    height: 100vh;
    width: 100%;
    // opacity: 0.25;
    margin: 0px;
    animation: backgroundAnimation 15s ease infinite;
}

.particles-container {
    position: fixed; // fondo fijo
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0; // detrás de todo
    pointer-events: none; // 👈 permite que los clics pasen al contenido de arriba
}

.content {
    position: relative;
    z-index: 1; // delante del canvas
    padding: 2rem;
    text-align: center;
    color: white;
}