// :host {
//     display: block;
//     position: relative;
//     width: 100%;
//     height: 100vh;
//     overflow: hidden;
// }
// ngx-particles {
//     position: absolute;
//     top: 0;
//     left: 0;
//     z-index: 0; // fondo
//     width: 100%;
//     height: 100%;
// }
// .contenido {
//     position: relative;
//     z-index: 1;
//     color: white; // para que se vea encima del fondo oscuro
//     text-align: center;
//     padding-top: 100px;
// }
:host {
    display: block;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(135deg, blue, yellow, crimson, green);
    background-size: 400% 400%;
    animation: backgroundAnimation 15s ease infinite;
}

@keyframes backgroundAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

ngx-particles {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
}