<div>{{ 'app.hello' | translate }}</div>
<div class="particles-container">
    <ngx-particles [id]="id" [options]="particlesOptions" (particlesLoaded)="particlesLoaded($event)" />
</div>

<div [align]="'center'">
    <h1 style="font-size: 36px;">CODELAB SOLUTIONS</h1>
    <p [align]="'justify'">
        En Codelab Solutions combinamos innovación, arquitectura escalable y tecnologías en tiempo real para crear plataformas web robustas, rápidas y seguras. Desde sistemas peer-to-peer hasta aplicaciones empresariales, llevamos tus ideas al siguiente nivel
        con tecnologías como Angular, NestJS, Golang y WebRTC.
        <!-- Codelab Solutions es una firma especializada en el diseño y desarrollo de soluciones digitales de alto impacto. Combinamos ingeniería de software avanzada con diseño centrado en el usuario para crear plataformas web modernas, escalables y robustas. Nuestro
        enfoque se basa en la excelencia técnica, el uso de arquitecturas distribuidas, desarrollo en tiempo real y tecnologías emergentes como WebRTC, Angular, NestJS y Golang. Atendemos las necesidades de empresas que buscan diferenciarse, optimizar
        procesos y escalar sus operaciones a través de soluciones digitales sólidas y personalizadas. En Codelab Solutions, convertimos desafíos complejos en productos inteligentes, alineados con los objetivos estratégicos de cada cliente. -->
    </p>
</div>