<div class="card">
    <p-megamenu [model]="items0" [style]="{ 'border-radius': '3rem', display: 'flex' }" styleClass="p-4 bg-surface-0 dark:bg-surface-900">
        <ng-template #start>
            <img src="images/all/minilogo_codelabsolutions.png" class="hidden sm:inline-block" width="50" alt="Codelab Solutions Logo" />
        </ng-template>
        <ng-template #item let-item>
            @if(item.root) {
            <a pRipple class="flex items-center cursor-pointer px-4 py-2 overflow-hidden relative font-semibold text-lg uppercase" style="border-radius: 1rem">
                <i [ngClass]="item.icon"></i>
                <span class="ml-2">{{ item.label }}</span>
            </a>
            } @if(!item.root && !item.image) {
            <a class="flex items-center p-4 cursor-pointer mb-2 gap-2">
                <span class="inline-flex items-center justify-center rounded-full bg-primary text-primary-contrast w-12 h-12 p-">
                    <i [ngClass]="item.icon + ' text-lg'"></i>
                </span>&nbsp;
                <span class="inline-flex flex-col gap-1 hover: gray">
                        <span class="font-medium text-lg text-surface-900 dark:text-surface-0">{{ item.label }}</span>
                <span class="whitespace-nowrap">{{ item.subtext }}</span>
                </span>
            </a>

            <a [routerLink]="item.routerLink" class="flex items-center gap-2 p-2">
                <!-- <img "item.icon" [src]="item.icon" alt="icon" width="24" height="24"> -->
                <span>{{ item.label }}</span>
            </a>
            } @if(item.image) {
            <div class="flex flex-col items-start gap-4 px-4 mx-4">
                <!-- <img [src]="item.image" alt="megamenu-demo" class="w-full" /> -->
                <span>{{ item.subtext }}</span>
                <p-button [label]="item.label" [outlined]="true"></p-button>
            </div>
            }
        </ng-template>
        <!-- <ng-template #end>
            <div class="flex items-center gap-2 p-menubar-item-link">
                <input type="text" pInputText placeholder="Search" class="w-36 m-2" style="border-radius: 2rem; padding: 4px;" />
                <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" class="pt-4" />
            </div>
        </ng-template> -->
    </p-megamenu>
</div>
<!-- <div class="card">
    <p-menubar [model]="items">
        <ng-template #start>
            <img src="images/all/minilogo_codelabsolutions.png" class="hidden sm:inline-block" width="50" alt="Codelab Solutions Logo" />
        </ng-template>
        <ng-template #item let-item>
            @if(item.root) {
            <a pRipple class="flex items-center cursor-pointer  overflow-hidden relative font-semibold text-lg uppercase" style="border-radius: 2rem">
                <i [ngClass]="item.icon"></i>
                <span class="ml-2">{{ item.label }}</span>
            </a>} @if(!item.root && !item.image) {
            <a class="flex items-center p-4 cursor-pointer mb-2 gap-2">
                <span class="inline-flex items-center justify-center rounded-full bg-primary text-primary-contrast w-12 h-12">
                    <i [ngClass]="item.icon + ' text-lg'"></i>
                </span>
                <span class="inline-flex flex-col gap-1">
                    <span class="font-medium text-lg text-surface-900 dark:text-surface-0">{{ item.label }}</span>
                <span class="whitespace-nowrap">{{ item.subtext }}</span>
                </span>
            </a>
            } @if(item.image) {
            <div class="flex flex-col items-start gap-4">
                <img [src]="item.image" alt="megamenu-demo" class="w-full" />
                <span>{{ item.subtext }}</span>
                <p-button [label]="item.label" [outlined]="true"></p-button>
            </div>
            }
        </ng-template>
        <ng-template #end>
            <div class="flex items-center gap-2 p-menubar-item-link">
                <input type="text" pInputText placeholder="Search" class="w-36 m-2" style="border-radius: 2rem; padding: 4px;" />
                <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
            </div>
        </ng-template>
    </p-menubar>
</div> -->